header {
  display: flex;
  height: 520px;
  width: 100%;
  background-color: #b3b300;
  background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
  font-family: 'Source Sans Pro', sans-serif;
  flex-direction: column;
  align-items: center
  
}

.header-image {
  margin-top: 160px;
}
