#nav-bar {
  display: flex;
  height: 120px;
  width: 100%;
  /* background-color: #4056A1; */
  color: #FFFFFF;
  font-family: 'Bungee', cursive;
  align-items: center;
  padding: 1.5em;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: #b3b300;
  /* background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png"); */
}

.nav-right {
  font-family: 'Source Sans Pro', sans-serif;
  
}

.nav-right-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 1024px) {

  body {
    display: flex;
    /* ??flex-direction: row; */
  }

   #nav-bar {
    /* display: flex;
    flex-direction: row; */
    background-color: #4056A1;
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
   }
 }

 @media only screen and (max-width: 1023px) {
  #nav-bar {
    background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
  }
 }