#nav-bar {
  display: flex;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', cursive;
  align-items: center;
  padding: 1.5em;
  justify-content: space-between;
  position: fixed;
}

.nav-right {
  font-family: 'Source Sans Pro', sans-serif;
  
}

.nav-right-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}